@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --header-font: 'Unbounded', serif;
    --body-font: 'Archivo', sans-serif;
}

/* About */
.about-section {
    background-color: #fff;
    padding: 60px 30px;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 280px;
    height: auto;
    /* border: 3px solid #000;
    box-shadow: -4px -4px 0px #000;
    border-radius: 8px; */
    object-fit: cover;
}

.about-text {
    flex: 1 1 400px;
    font-size: 1.1em;
    line-height: 1.6;
    font-family: var(--body-font);
    text-align: left;
}

.sub-title {
    text-align: center;
}

.my-email {
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
    font-family: var(--header-font);
    text-align: center;
}

.my-email:hover {
    color: var(--main-color);
    font-style: italic;
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

.my-email a {
    text-decoration: none;
    color: var(--main-color);
    margin-top: 20px;
    border-bottom: solid 3px var(--main-color);
    padding: 0 10px;
}

.my-email a:hover {
    color: var(--main-color);
    background-color: #fff3b0;
    font-style: italic;
    padding: 0 10px;
}

.about-highlight {
    margin-top: 20px;
    background: #fff3b0
    /* #fff5c0 */;
    border-left: 4px solid var(--main-color);
    padding: 10px 15px;
    font-family: var(--header-font, sans-serif);
}

.section-title.decorated-title {
    position: relative;
    font-family: var(--header-font);
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    color: var(--main-color);
}

.section-title.decorated-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #000;
    color: #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.thanks {
    text-align: center;
    line-height: 1.5em;
    margin: 10px auto;
    color: var(--text-color);
    font-family: var(--header-font);
    font-size: 1em;
    background-color: #fff;
    padding: 5px;
    color: var(--main-color);
}

.thanks:hover {
    background-color: #fff3b0;
    font-style: italic;
    width: 45%;
}

/* More Stuff */
.for-you {
    width: 75%;
    margin: 0 auto;
    flex: 2 1 400px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    /*     background-color: #fff5c0;
 */
}

.extra-small {
    flex: 1 4 30%;
    min-width: 180px;
}

/* .extra-small {
    flex: 1 4 15%;
    min-width: 180px;
} */

article.small .article.extra-small {
    padding: 15px 20px;
}

.small {
    flex: 1 2 35%;
    min-width: 200px;
}

article {
    background: #fff;
    color: #333;
    border: solid #000 3px;
    padding: 20px;
    margin: 15px;
    max-width: 100%;
    min-width: 200px;
    flex: 1 1 100%;
    position: relative;
    transition: transform 0.3s ease;
}

article:hover {
    transform: translate(calc(3px * -1), calc(3px * -1));
    box-shadow: -3px -3px 0 #000;
}

article h3 {
    font-family: var(--header-font);
    color: var(--main-color);
}

details summary::before,
ul li::before {
    position: absolute;
    left: -15px;
    font-style: normal;
    color: var(--med);
}

ul li {
    list-style: "\2605";
    font-family: var(--body-font);
    line-height: 1.75em;
}

li a::after {
    content: "\2197";
    color: var(--main-color);
    font-size: .8em;
    margin-left: .2em;
    padding-left: .1em;
    display: inline;
    font-weight: bold;
}

a {
    /* border-bottom: #fff5c0 2px solid; */
    color: var(--main-color);
    padding: 5px;
    text-decoration: dotted;
    text-decoration-color: red;
}

li a:hover {
    background-color: #fff5c0;
    padding: 5px;
}

.footer {
    margin-top: 100px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 200px;
    }

    .about-text {
        flex: 1 1 auto;
    }
}