@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --heading-text:"Unbounded", serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--heading-text);
    background-color: #fff; /* f9f1e1 fcf6ec*/
    color: #000;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 95vh;
    gap: 15px;
    padding: 10px 10px 0px 10px;
    width: 98vw;
    margin: 0 auto;
}
.box {
    background-color: #fff;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease, transform 0.3s ease;
    position: relative;
    border: #000 solid;
    box-shadow: -4px -4px 0px #000;
    /* Necessary for positioning the preview relative to each box */
}

.box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

/*.preview {
    position: absolute;
    top: -65%;
    left: 55%;
    transform: translate(-50%, -10px);
    opacity: 0;
    visibility: hidden; /* Hidden by default */ /*
    transition: opacity 0.3s ease, transform 0.3s ease;*/
/*}

.preview img {
    width: 250px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box:hover .preview {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
} */

/*.box:hover {
    transform: translateX(10px);
    box-shadow: -3px -3px 0px #000;
    /*transform: scaleX(1.025);
    z-index: 1;*/
/*}*/

.clickable-box:hover {
transform: translateX(10px);
box-shadow: -3px -3px 0px #000;
}

.name { grid-column: 1 / 5; grid-row: 1 / 3; font-size: 3vw; background-color: #ff6b6b; }

.arrow {
    grid-column: 5/ 6;
    grid-row: 1 / 3;
    color:#000;
    font-size: 10vw;
    display: flex; /*added for the "simple" arrow switch*/
    align-items: center;
    justify-content: center;
    text-align: center;
    /*transition: transform 0.3s ease; for the rotating arrow action*/
}

.arrow-right { display: inline; }
.arrow-down { display: none ; }

.title { grid-column: 6 / 9; grid-row: 1 / 3; font-size: 2.3vw; background-color: #4ecdc4; }
.about { grid-column: 1 / 4; grid-row: 3 / 5; font-size: 1.3vw; background-color: #ffe66d; }
.project1 { grid-column: 4 / 6; grid-row: 3 / 5; font-size: 1.3vw; background-color: #F9A8D4; cursor: pointer;}
.project2 { grid-column: 7 / 9; grid-row: 3 / 5; font-size: 1.3vw; background-color: #54a0ff; cursor: pointer}
.project3 { grid-column: 1 / 3; grid-row: 5 / 7; font-size: 1.3vw; background-color: #783ddf; color: #f8f8f8; cursor: pointer} /*5f27cd 9723c9*/
.project4  { grid-column: 3 / 5; grid-row: 5 / 7; font-size: 1.3vw; background-color: #1dd1a1; cursor: pointer}
.illustration { grid-column: 5 / 8; grid-row: 5 / 7; font-size: 1.3vw; background-color: #FECA57; padding:0 ; }
.star { grid-column: 8 / 9; grid-row: 5 / 7; color: #000; font-size: 10vw;} 
.flower { grid-column: 1/ 2; grid-row: 7/ 9; color: #000; font-size: 10vw;} 
.contact { grid-column: 2 / 4; grid-row: 7 / 9; font-size: 1.3vw; background-color: #ff9ff3; }
.skills { grid-column: 4 / 6; grid-row: 7 / 9; font-size: 1.3vw; background-color: #48dbfb; }
.social-1 { grid-column: 6 / 7; grid-row: 7 / 9; background-color: #ff6b6b ; font-size: 1.3vw; }
.social-2 { grid-column: 7 / 8; grid-row: 7 / 9; background-color: #F9A8D4; font-size: 1.3vw; }
.social-3 { grid-column: 8 / 9; grid-row: 7 / 9; background-color: #5EEAD4; font-size: 1.3vw; }

.social-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

.social-icon i {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.social-icon span {
    font-size: 1em;
}

.social-icon:hover {
    color:#fff;
}

/* .link:hover a {
    color: #fcfaf6;
    transform: scale(1.25);
}

    .social-link-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

.social-link-text p {
    margin-top: 4px;
    font-size: 20px;
}

.social-link-text p:hover {
    color: #fcfaf6;
    transform: scale(1.25);
}
 */
.star:hover{ color: #ff9ff3 ;}
.flower:hover { color: #1dd1a1 ;}

.star, .flower {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

/* Modal Styles */
/*.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #f0f0f0;
    margin: 5% auto;
    padding: 20px;
    /*border: 3px solid #000;*/
    /* width: 85%;
    max-width: 1100px;
    box-shadow: 10px 10px 0px #000;
}*/

/*.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ff6b6b;
}

.modal-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.modal-description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modal-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.modal-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #000;
} */

        /* Media Queries */
        @media screen and (max-width: 1024px) {
            .container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(14, auto); /* Changed to auto for flexibility old > grid-template-rows: repeat(14, 1fr);*/

            }
            .name { grid-column: 1 / 4; grid-row: 1 / 2; font-size: 5vw; }
            .arrow { grid-column: 4 / 5; grid-row: 1 / 2; font-size: 10vw; /* transform: rotate(90deg); for the rotating arrow action */}
            .title { grid-column: 1 / 5; grid-row: 2 / 3; font-size: 3vw; }
            .about { grid-column: 1 / 5; grid-row: 3 / 4; font-size: 2vw; }
            .project1 { grid-column: 1 / 3; grid-row: 4 / 6; font-size: 2vw; }
            .project2 { grid-column: 3 / 5; grid-row: 4 / 6; font-size: 2vw; }
            .project3 { grid-column: 1 / 3; grid-row: 6 / 8; font-size: 2vw; }
            .project4 { grid-column: 3 / 5; grid-row: 6 / 8; font-size: 2vw; }
            .illustration { grid-column: 1 / 5; grid-row: 8 / 10; padding: 20px; font-size: 2vw;} 
            .star { grid-column: 1 / 2; grid-row: 10 / 11; font-size: 10vw; }
            .flower { grid-column: 2 / 3; grid-row: 10 / 11; font-size: 10vw; }
            .contact { grid-column: 3 / 5; grid-row: 10 / 12; font-size: 2.5vw; }
            .skills { grid-column: 1 / 3; grid-row: 12 / 14; font-size: 2vw; }
            .social-1 { grid-column: 3 / 4; grid-row: 12 / 13; font-size: 2.5vw}
            .social-2 { grid-column: 4 / 5; grid-row: 12 / 13; font-size: 2.5vw}
            .social-3 { grid-column: 3 / 5; grid-row: 13 / 14; font-size: 2.5vw} /* for a wider item */
            
            .arrow-right { display: none; }
            .arrow-down { display: inline; }
        } 

        @media screen and (max-width: 768px) {
            .container {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(17, auto);
                height: auto;
                min-height: 100vh;
            }
            .name { grid-column: 1 / 2; grid-row: 1 / 2; font-size: 7vw; }
            .arrow { grid-column: 2 / 3; grid-row: 1 / 2; font-size: 14vw; }
            .title { grid-column: 1 / 3; grid-row: 2 / 3; font-size: 5vw; }
            .about { grid-column: 1 / 3; grid-row: 3 / 4; font-size: 3vw; }
            .project1 { grid-column: 1 / 2; grid-row: 4 / 6; font-size: 3vw; }
            .project2 { grid-column: 2 / 3; grid-row: 4 / 6; font-size: 3vw; }
            .project3 { grid-column: 1 / 2; grid-row: 6 / 8; font-size: 3vw; }
            .project4 { grid-column: 2 / 3; grid-row: 6 / 8; font-size: 3vw; }
            .illustration { grid-column: 1 / 3; grid-row: 8 / 10; font-size: 3vw; padding: 20px;}
            .star { grid-column: 1 / 2; grid-row: 10 / 11; font-size: 7vw; }
            .flower { grid-column: 2 / 3; grid-row: 10 / 11; font-size: 7vw; }
            .contact { grid-column: 1 / 3; grid-row: 11 / 13; font-size: 4vw; }
            .skills { grid-column: 1 / 3; grid-row: 13 / 15; font-size: 3vw; }
            .social-1 { grid-column: 1 / 2; grid-row: 15 / 16; font-size: 3vw;}
            .social-2 { grid-column: 2 / 3; grid-row: 15 / 16; font-size: 3vw;}
            .social-3 { grid-column: 1 / 3; grid-row: 16 / 17; font-size: 3vw;}

            /* .modal-content {
                width: 90%;
                margin: 5% auto;
                padding: 15px;
            } */

            /*.modal-title { font-size: 1.5em; }
            .modal-description { font-size: 1em; }
            .modal-image { max-width: 100%;} /*calc(50% - 5px) Ensure images are full width on smaller screens */        
        } 

        @media screen and (max-width: 480px) {
            .container {
                grid-template-columns: 2fr;
                grid-template-rows: repeat(13, auto);
                gap: 20px;
                padding: 5px;
            }
            .box { padding: 10px; }
            .name { grid-column: 1; grid-row: 1; font-size: 10vw; }
            .arrow { grid-column: 1; grid-row: 2; font-size: 15vw; }
            .title { grid-column: 1; grid-row: 3; font-size: 6vw; }
            .about { grid-column: 1; grid-row: 4; font-size: 4vw; }
            
            .project1, .project2, .project3, .project4 { 
                grid-column: 1; 
                grid-row: auto;
                height: 100px;
                font-size: 4vw;
            }
            .illustration { grid-column: 1; grid-row: auto; height: 100px; font-size: 4vw; }

            .star, .flower { 
                grid-column: 1; 
                grid-row: auto; 
                font-size: 15vw;
                padding: 30px 0px;
                height: 50px;
            }

            .star:active{ transform: scale(1.25) ; color: #ff9ff3 ;}
            /*.arrow:active{ transform: scale(1.25) ; color: #A855F7 ;}*/
            .flower:active {transform: scale(1.25) ; color: #1dd1a1 ;}
            
            .contact { grid-column: 1; grid-row: auto; font-size: 5vw; }
            .skills { grid-column: 1; grid-row: auto; font-size: 4vw; }
            .social-1 { grid-column: 1; grid-row: auto; font-size: 4vw; }
            .social-2 { grid-column: 1; grid-row: auto; font-size: 4vw; }
            .social-3 { grid-column: 1; grid-row: auto; font-size: 4vw; }
        }

            /* .modal-content { 
                width: 87%; 
                margin: 5% auto; 
                padding: 10px;
            }
            .modal-title { font-size: 1.2em; }
            .modal-description { font-size: 0.9em; }
            .modal-image-container { gap: 5px; }
            .modal-image { max-width: 100%; height: auto; }
            
            .modal-content { 
                width: 95%; 
                margin: 5% auto; 
                padding: 10px;
            }
            .modal-title { font-size: 1.2em; }
            .modal-description { font-size: 0.9em; }
        }*/
    